<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{> header}}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium, nibh eu vehicula efficitur, nisl lorem
        tempor velit, vitae aliquam tortor tellus eget metus. Nulla eu facilisis risus. Vestibulum molestie vitae
        libero vel laoreet. Nunc in libero varius, faucibus enim at, rutrum tortor. Sed finibus iaculis tellus,
        malesuada congue nisi consectetur id. Phasellus hendrerit iaculis lorem ac egestas. Nulla sagittis sodales
        felis, ac ornare sapien convallis et. Integer egestas purus sit amet velit tempor blandit. Aenean at tristique
        mauris. Suspendisse vitae ullamcorper ex. Praesent venenatis leo et magna lobortis porttitor. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Donec dapibus tristique lorem vel pellentesque. Vivamus
        sodales tellus nec vestibulum ullamcorper. Sed pellentesque vulputate nulla eget tristique. Duis sed lorem et
        risus mattis tempor non sit amet nibh.
    </p>
    <p>
        Mauris posuere tortor scelerisque, accumsan neque vel, tempus libero. Ut porta porttitor rhoncus. Suspendisse
        suscipit sapien aliquam, iaculis nunc at, ullamcorper augue. Ut fermentum leo massa, consequat pulvinar lectus
        gravida sit amet. Sed ultrices blandit tempus. Proin facilisis, quam id efficitur ultricies, nibh sem
        condimentum nisl, sit amet commodo orci eros vel enim. Duis posuere quis lectus vitae fringilla. Vivamus non
        elementum libero. Ut gravida mauris eros, sit amet semper leo ultricies in. Aenean ligula ipsum, lacinia
        condimentum ante a, imperdiet rutrum dui.
    </p>

    {{> footer}}


</body>

</html>